@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add animation when dragging */
.is-dragging {
  opacity: 0.6;
  transform: scale(1.05); /* Slight zoom effect */
  transition: transform 0.15s ease, opacity 0.15s ease;
}

.todo-item {
  transition: transform 0.3s ease-in-out; /* Smooth transition for other items */
}
